# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*.pkl
models/*.joblib
models/*.h5

# Results
results/figures/*
results/metrics/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
